# ***Практическая работа №2***


# ЗАДАНИЕ 1

In [ ]:
class first:
  color = "red"
  def out(self):
    print(self.color + "!")


obj1=first()
obj2=first()


print (obj1.color)
print (obj2.color)
obj1.out()
obj2.out()

red
red
red!
red!

# ***ЗАДАНИЕ 2***

In [ ]:
class second:
      color="red"
      form="circle"
      def changecolor(self, newcolor):
        self.color = newcolor
      def changeform(self, newform):
        self.form = newform

obj1=second()
obj2=second() 

print (obj1.color, obj1.form)
print (obj2.color, obj2.form)

obj1.changecolor("green")
obj2.changecolor("blue")
obj2.changeform("oval")

print (obj1.color, obj1.form)
print (obj2.color, obj2.form)

red circle
red circle
green circle
blue oval

In [ ]:
class third :
      color="red"
      form="circle"
      size="3"
      def changecolor(self, newcolor):
        self.color = newcolor
      def changeform(self, newform):
        self.form = newform
      def changesize(self, newsize):
        self.size = newsize

obj1=third()
obj2=third() 
obj3=third()

print (obj1.color, obj1.form,obj1.size)
print (obj2.color, obj2.form, obj2.size)
print (obj3.color, obj3.form, obj3.size)

obj1.changecolor("green")
obj1.changeform("square")
obj2.changecolor("yellow")
obj2.changesize("4")
obj3.changecolor("blue")
obj3.changeform("oval")
obj3.changesize("6")


print (obj1.color, obj1.form,obj1.size)
print (obj2.color, obj2.form, obj2.size)
print (obj3.color, obj3.form, obj3.size)

red circle 3
red circle 3
red circle 3
green square 3
yellow circle 4
blue oval 6

In [ ]:
class Schoolchildren:
  total="20"
  totalboys="9"
  totalgirls="11"
  def changetotal(self,newtotal):
    self.total=newtotal
  def changetotalboys(self,newtotalboys):
    self.totalboys=newtotalboys
  def changetotalgirls(self,newtotalgirls):
    self.totalgirls=newtotalgirls

obj1=Schoolchildren()
obj2=Schoolchildren()

print(obj1.total,obj1.totalboys,obj1.totalgirls)
print(obj2.total,obj2.totalboys,obj2.totalgirls)

obj1.changetotal("19")
obj1.changetotalboys("8")
obj2.changetotal("21")
obj2.changetotalgirls("12")

print(obj1.total,obj1.totalboys,obj1.totalgirls)
print(obj2.total,obj2.totalboys,obj2.totalgirls)

class Girl:
  hair="brown"
  eyes="green"
  def changehair(self,newhair):
    self.hair=newhair
  def changeeyes(self,neweyes):
    self.eyes=neweyes

girl1=Girl()
girl2=Girl()

print(girl1.hair, girl1.eyes)
print(girl2.hair,girl2.eyes)

girl1.changehair("blond")
girl1.changeeyes("blue")
girl2.changeeyes("black")

print(girl1.hair, girl1.eyes)
print(girl2.hair,girl2.eyes)

20 9 11
20 9 11
19 8 11
21 9 12
brown green
brown green
blond blue
brown black

# ЗАДАНИЕ ***3***

In [ ]:
class YesInit:
  def __init__(self,one,two):
    self.fname=one
    self.sname=two

obj1=YesInit("Petter", "Ok")

print(obj1.fname, obj1.sname)

In [ ]:
class NoInit:
  def names(self,one,two):
    self.fname=one
    self.sname=two 

obj1=NoInit()
obj1.names("Petter", "Ok")

print(obj1.fname, obj1.sname)

# ЗАДАНИЕ ***4***

In [ ]:
class YesInit:
  def __init__(self, one="noname", two = "nonametoo"):
    self.fname=one 
    self.sname=two

obj1=YesInit("Sasha", "Tu")
obj2=YesInit()
obj3=YesInit("Spartak")
obj4=YesInit(two="Harry")

print(obj1.fname, obj1.sname)
print(obj2.fname, obj2.sname)
print(obj3.fname, obj3.sname)
print(obj4.fname, obj4.sname)

Sasha Tu
noname nonametoo
Spartak nonametoo
noname Harry

# ЗАДАНИЕ 5

In [ ]:
class fruits:
  def __init__(self,w,n=0):
    self.what=w
    self.numbers=n

f1=fruits("apple",150)
f2=fruits("pineapple")
  
print(f1.what,f1.numbers)
print(f2.what,f2.numbers)

apple 150
pineapple 0

# ЗАДАНИЕ 6

In [ ]:
class Building:
  def __init__(self,w,c, n=0):
    self.what=w
    self.color=c
    self.numbers=n
    self.mwhere(n)
  def mwhere(self, n):
    if n<=0:
      self.where="Отсутствуют"
    elif 0<n<100:
      self.where="малый склад"
    else:
      self.where="основной склад"
  def plus(self,p):
    self.numbers=self.numbers+p
    self.mwhere(self.numbers)
  def minus(self,m):
    self.numbers=self.numbers-m
    self.mwhere(self.numbers)

m1=Building("Доски", "белые",50)
m2=Building("Доски", "коричневые",300)
m3=Building("кирпичи", "белые")

print(m1.what,m1.color,m1.where)
print(m2.what,m2.color,m2.where)
print(m3.what,m3.color,m3.where)

m1.plus(500)
print(m1.numbers, m1.where)

Доски белые малый склад
Доски коричневые основной склад
кирпичи белые Отсутствуют
550 основной склад

In [1]:
class fig:
    def __init__(self, w = 1, l = 5):
        self.width = w
        self.length = l
    def square(self):
        return self.width * self.length
 
obj1 = fig(4, 3)
obj2 = fig()
obj3 = fig(2)
obj4 = fig(l = 7)


print(obj1.square())
print(obj2.square())
print(obj3.square())
print(obj4.square())

12
5
10
7

# ***ЗАДАНИЕ 8***

In [ ]:
class Table:
  def __init__(self,l,w,h):
    self.long=l 
    self.width=w 
    self.height=h 
  def outing(self):
    print(self.long, self.width, self.height)


class Kitchen(Table):
  def howplaces(self,n):
    if n < 2:
      print("It is not kitchen table")
    else:
      self.places=n
  def outplaces(self):
    print(self.places)


t_room1=Kitchen(2,1,0.5)  
t_room1.outing()
t_room1.howplaces(5)
t_room1.outplaces()

t_2=Table(1,3,0.7)
t_2.outing()


class Worker(Table):
  def __init__(self,m):
    self.material=m
  def square(self,l,w):
    self.square=l*w 
    print(self.square)
    

t3=Worker("iron")
t3.square(5,7)
print(t3.material)

2 1 0.5
5
1 3 0.7
35
iron

In [ ]:
class Figure:
  color="white"
  def changecolor(self,c):
    self.color=c 
  
 
class Oval(Figure):
  def __init__(self,r):
    self.radius=r 
obj1=Oval(10)


class Square(Figure):
  def __init__(self,l,w):
    self.long=l 
    self.wight=w 
  def площадь(self):
    return(self.long*self.wight)

obj2=Square(5,9)
obj2.changecolor("синего")

print("Радиус=", obj1.radius)
print(obj2.color)
print("Площадь фигуры {} цвета = {}".format(obj2.color, obj2.площадь()))

Радиус= 10
синего
Площадь фигуры синего цвета = 45